.locationList {
  height: calc(100vh - 180px);
  overflow-x: auto;
}

.location {
  margin-top: 5px;
  border: 1px solid #ddd;
  cursor: pointer;
}

.selectedLocation {
  margin-top: 5px;
  border: 1px solid #ddd;
  cursor: pointer;
  background-color: #DF2573;
  color: white;
}

.mapContainer {
  height: calc(100vh - 180px);
}