.mapCol {
  padding-right: 0px;
}

.loading {
  display: inline-block;
  padding-top: 10px;
  width: 30px;
  height: auto;
}

.success {
  display: inline-block;
  padding-top: 18px;
  width: 15px;
  margin-left: 5px;
  height: auto;
  color: green;
}